

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Port+Lligat+Sans&display=swap');

*{
  
      
    
        font-family: "Port Lligat Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}
nav{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#003135;
    color: aliceblue;
}
nav  ul li a :hover{

 font-size: 5rem;
}
ul{
    display: flex;

}
ul li{
    list-style: none;
    padding:13px;
 
}
ul li a{
    color: aliceblue;
    text-decoration:none ;
}
ul >li> a:hover {
    font-size: 1.3rem;
    color: rgb(168, 78, 241);
}
main{
    min-height: 35pc;
    padding: 2px;
}


footer{
    background-color: #003135;
    color: aliceblue;
    display: flex;
    padding: 12px;
    justify-content:center;
    align-items:center;
    font-size: 12px;
    margin-bottom: 0pc;
}
@media only screen and (max-width: 600px)
{
    body{
        background-color: rgb(220, 220, 220);
    }
}
.container
{
   
    max-width: 80vw;
    margin: auto;
    padding: 15px; ;
}
nav{
    flex-direction: column;
}
.logo{
    padding: 6px 0;
   
}
.logo span{
    font-size: 20px;
}
.logo img{
    width: 20px;
    filter: invert(1);
}
.container h1{
    padding:12px 0;
}
.Btn{
    background-color: #003135;
    color: white;
    padding: 9px 12px;
    border: 1px solid rgb(152, 10, 10);
    border-radius: 10px;
    cursor: pointer;
}
 #Resultcont div::first-letter{
    text-transform: uppercase;
 }
 input {
    min-width: 244px;
    padding: 3px 12px;
    border: 2px solid black;
    font-size: 20px;
 }

